/* .todo-title {
    border: 0px;
    width: 200px;
    margin-left: 5px;
    margin-right: 5px;
}*/

.todo-button {
    border: 0px;
    margin-left: 5px;
    margin-right: 5px;
}

.todo-header {
    border-bottom: darkgrey;
}